// Variables
$brand-color: #f9461c;
$inactive-color: #eee;
$border-color: #ddd;
$circle-size: 80px;
$circle-border-width: 8px;

// Block
.ppd-block {
	border: 1px solid $border-color;
	border-radius: 5px;
	margin: 30px 0;
	padding: 30px;
}

// Progress
.ppd-block-progress {
	.ppd-block-progress__info {
		display: flex;
		justify-content: space-between;

		.ppd-block-progress__info__funded {
			color: $brand-color;
			font-weight: 500;
		}

		.ppd-block-progress__info__goal {
			font-weight: 500;
		}
	}
}

.ppd-progress {
	background: $inactive-color;
	border-radius: 10px;
	display: flex;
	margin: 20px 0 10px;
	width: 100%;
	height: 20px;

	.ppd-progress__bar {
		background: $brand-color;
		border-radius: 10px;
		position: relative;

		.ppd-progress__bar__status {
			display: block;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			top: -20px;
			text-align: right;
		}
	}
}

// Compact
.ppd-block-compact {
	.ppd-block-compact__label {
		font-weight: 500;
	}

	.ppd-block-compact__info {
		align-items: center;
		display: flex;

		.ppd-block-compact__info__funded {
			color: $brand-color;
			font-size: 26px;
			font-weight: 500;
			margin-right: 20px;
		}

		.ppd-block-compact__info__number {
			color: #999;
		}
	}
}

// List
.ppd-dl-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	.ppd-dl-list__label,
	.ppd-dl-list__value {
		font-weight: normal;
		margin: 0;
		padding: 0;
		width: 50%;
	}

	.ppd-dl-list__label {
		opacity: .6;
	}

	.ppd-dl-list__value {
		font-weight: bold;
		text-align: right;
	}
}


// Circle
.ppd-block-circle {
	.ppd-block-circle__container {
		align-items: center;
		display: flex;
	}
}

.ppd-circle {
	background-color: $inactive-color;
	border-radius: 50%;
	position: relative;
	margin-right: 30px;
	width: $circle-size;
	height: $circle-size;

	*,
	*:before,
	*:after {
		box-sizing: content-box;
	}

	.ppd-circle__label {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		line-height: $circle-size;
		text-align: center;
		z-index: 1;
	}

	&::after {
		background-color: #fff;
		border-radius: 50%;
		content: '';
		display: block;
		position: absolute;
		top: $circle-border-width;
		left: $circle-border-width;
		width: $circle-size - ( $circle-border-width * 2 );
		height: $circle-size - ( $circle-border-width * 2 );
	}

	.ppd-circle__slice {
		clip: rect(0, $circle-size, $circle-size, $circle-size / 2);
		position: absolute;
		width: $circle-size;
		height: $circle-size;

		.ppd-circle__slice__bar {
			border: $circle-border-width solid $brand-color;
			border-radius: 50%;
			clip: rect(0, $circle-size / 2, $circle-size, 0);
			position: absolute;
			transform: rotate(0deg);
			width: $circle-size - ( $circle-border-width * 2 );
			height: $circle-size - ( $circle-border-width * 2 );
		}
	}

	&.ppd-circle--50 {
		.ppd-circle__slice {
			clip: rect(auto, auto, auto, auto);

			.ppd-circle__slice__fill {
				border: $circle-border-width solid $brand-color;
				border-radius: 50%;
				clip: rect(0, $circle-size / 2, $circle-size, 0);
				position: absolute;
				transform: rotate(180deg);
				width: $circle-size - ( $circle-border-width * 2 );
				height: $circle-size - ( $circle-border-width * 2 );
			}
		}
	}
}
