<?xml version="1.0"?>

<ruleset name="WordPress Pay Add-on: Fundraising rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>js/dist/index.asset.php</exclude-pattern>

	<rule ref="VariableAnalysis"/>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure.ThisFoundOutsideClass">
		<exclude-pattern>src/i18n-make-pot.php</exclude-pattern>
	</rule>

	<rule ref="PronamicWP">
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key"/>

		<exclude name="WordPress.Security.SafeRedirect.wp_redirect_wp_redirect"/>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	</rule>
</ruleset>
